# .gitignore

# ─── 依存関係 & 環境変数 ───
# OS固有の依存関係フォルダや、仮想環境フォルダ
*/venv/
/env/
.env
config/
plugins/

# ─── Pythonのキャッシュと一時ファイル ───
# Pythonが自動生成するキャッシュファイルやコンパイル済みファイル
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# ─── プロジェクト固有の生成ファイル、フォルダ ───
# このリポジトリのプログラムを実行することで生成されるデータファイル、フォルダ
*.csv
results/
artifacts/

# ─── 画像ファイル ───
# プロジェクトで扱う個人情報を含む可能性のある画像ファイル
# 実行結果のデモ用GIFなど、リポジトリに含めたいものは別途git add -fで追加
*.jpg
*.jpeg
*.png
*.gif

# ─── 動画ファイル ───
*.mp4

# ─── テキストファイル ───
# プロジェクトで扱う個人情報を含む可能性のあるテキストファイル
knowledge.txt
article.txt

# ─── ドキュメントフォルダ ───
documents/

# ─── データセットフォルダ ───
ml-100k/
data/
dataset_images/

# ─── データベースファイル ───
*.json
*.db

# ─── バイナリファイル ───
*.pkl
*.pth
*.npy
*.pt

# ─── エディタ/IDEの設定ファイル ───
# VSCodeなどのエディタが自動生成する設定フォルダ
.vscode/
.idea/

# ─── MLflowのローカル追跡用ディレクトリ ───
mlruns/

# ─── ログファイル ───
logs/